# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized.

*Objectives:*
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scipy
3. Scikit-Learn

|  No.   | Data Science Tools    |
|  ----  | ----  |
| 1  | Jupyter Notebook |
| 2  | Rstudio |
| 3  | Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python
* 1+2
* 5-2
* 2*3

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author Natalie